/* css reset */
body,
ul,
li {
    margin: 0;
    padding: 0;
    user-select: none;
}

li {
    list-style: none;
}

/* content */
html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    color: #fff;
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "宋体", simsun, sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
    background-image: url(https://zaaap-1254235226.cos.ap-guangzhou.myqcloud.com/short_pic/2020/11/19/10711727614926603-1605769622454.jpg?size=5120x2880&imageMogr2/format/jpeg/quality/60);
}

a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.icon-svg {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#pane {
    display: flex;
    gap: 100px;

    h2 {
        font-size: 16px;
    }

    h3 {
        margin: 6px 0;
        font-size: 14px;
    }

    .box-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transition: width 1s ease, height 1s ease;

        .box-inner {
            padding: 8px;
            background: rgba(255, 255, 255, 0.3);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        .app-box {
            display: flex;
            flex-wrap: wrap;

            .app {
                width: 24px;
                height: 24px;
                padding: 3px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .icon-svg {
                font-size: 20px;
            }
        }

        &.normal {
            .app-box {
                width: 90px;
                height: 90px;
                overflow: hidden;

                h3 {
                    display: none;
                }
            }
        }

        &.active {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 30px;
            flex-direction: column-reverse;
            height: 100vh;
            background: rgba(80, 80, 80, 0.4);
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            z-index: 1;

            .box-inner {
                width: 80%;
                padding: 20px;
                background: rgba(255, 255, 255, 0.5);
            }

            .app-box {
                width: auto;
                height: auto;
                gap: 10px;

                .app {
                    width: 100px;
                    height: 100px;
                    padding: 0;
                }

                .icon-svg {
                    font-size: 50px;
                }
            }
        }

    }

    .plain-app {
        width: 90px;
        height: 90px;
        padding: 8px;

        .icon-svg {
            font-size: 50px;
        }
    }
}


#footer {
    font-size: 10px;
    position: absolute;
    bottom: 5px;
}

#footer>* {
    opacity: .9;
}

#copyright {
    margin: 0 5px;
}

#footer a:hover {
    opacity: .8;
}